<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36890666471-plm3rkt3numivh1sape22r5bmjo2ngeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36890666471-plm3rkt3numivh1sape22r5bmjo2ngeu</string>
	<key>API_KEY</key>
	<string>AIzaSyDFglBf9Pk-UHCmR0OBZKwghLnuZ-iCFpw</string>
	<key>GCM_SENDER_ID</key>
	<string>36890666471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.mikhailkuznetsov.Flash-Chat-iOS13-V010</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-3237f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-3237f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36890666471:ios:661b5f97ea57f900374942</string>
</dict>
</plist>